html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, #root {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white; 
  overflow: auto; 
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white; 
  flex-shrink: inherit;
}

.header:hover {
  background-color: black;
}

.search-bar-div {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerList {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerList li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerList li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.headerList a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.headerLogo {
  max-height: 95%;
}

.differentScreens {
  height: 100%;
  padding-top: 60px;
  width: 100%;
}

.footer {
  width: 100%;
  height: 10%;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.homeScreenTop {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.356)), 
  url('https://i.pinimg.com/originals/d7/c6/1d/d7c61dea46010933a89765a7fef60951.jpg');
  background-position:center;
  background-repeat: no-repeat;
}

.setList {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setCardList {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  -webkit-appearance: none;
  border: none;
}

.searchTerm {
  height: 70%;
  width: 90%;
  padding: 0;
}

.searchButton {
  width: 10%;
  height: 70%;
  border: none;
  background: rgb(160, 2, 10);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.setListDropdown {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setListDropdown:hover {
  cursor: pointer;
}

.setListDropdownStatic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setListDropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 61px;
  background-color: black;
}

.setListDropdownMenu li {
  width: 100%;
  padding: 1px;
  height: 40px;
  padding: 1em;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.setListDropdownMenu li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
