/* cardDetail.css */

.card {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: .2em .2em .5em #333;
    transition: all 1s;
    display: flex;
}

.card a {
    height: 100%;
    width: 100%;
}
/* 
.card:hover {
    transform: translateY(-10px);
    height: 150px;
    width: 100px;
    border: 1px solid #1a57ba;
    box-shadow: .3em .3em .6em #528ff2;
}

/* .card:hover{
    position: fixed;
    z-index: 1;
    transform: scale(2.5) translate(50%, -50%);
} */

