/* cardDetail.css */

.card img {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: .2em .2em .5em #333;
    transition: all 1s;
    display: flex;
}

.card a {
    height: 100%;
    width: 100%;
}

.card img:hover {
    top:50%;
    left:50%;
    width: 300px;
    height: 400px;
    margin-left:-50px;
    margin-top:-50px;
}
